@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #25D366;
  --color-secondary: #128C7E;
  --color-background: #FFFFFF;
  --color-text-primary: #000000;
  --color-text-secondary: #667781;
  --chat-background: url('https://images.pexels.com/photos/7130498/pexels-photo-7130498.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.dark {
  --color-background: #111827;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #9CA3AF;
}